*{
    margin: 0px;
    padding: 0px;
}

#body{
    /* border: 2px solid blue; */
    height: 720px;
    width: 1510px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left{
    /* border: 2px solid red; */
    height: 100%;
    width: 40%;
    background-image: url(./login4.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
#right{
    /* border: 2px solid green; */
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background:linear-gradient(160deg,rgb(111, 99, 248),purple,white);
}

#centerbody{
    /* border: 2px solid red; */
    height: 500px;
    width: 500px;
    border-radius: 20px;
    background-color: white;
}
#cards{
    /* border: 2px solid black; */
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn_cards{
    /* border: 2px solid black; */
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    color: rgb(98, 22, 178);
}
input{
    height: 50px;
    width: 80%;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 20px;
    background-color: whitesmoke;
    border: none;
}
button{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    font-size: 25px;
    /* border: none; */
}
#submit_btn{
    background-color: white;
    color: green;
   transition: all;
   transition-duration: 0.5s;
   transition-timing-function: ease-in-out;

}
#submit_btn:hover{
    cursor: pointer;
    background-color: green;
    color: white;

}
#cancel_btn:hover{
    cursor: pointer;
    background-color: red;
    color: white;

}
#cancel_btn{
    background-color: white;
    color: red;
}